providerName="eSignet"
discoveryEndPoint="http://host.docker.internal:3000/.well-known/openid-configuration"
authorizationEndPoint="http://localhost:3000/authorize"
issuerURL="http://localhost:8088"
jwksURI="http://host.docker.internal:3000/.well-known/jwks.json"
tokenEndPoint="http://esignet-token-proxy:8089/token"
userInfoEndPoint="http://host.docker.internal:3000/v1/esignet/oidc/userinfo"
openIdConnectClientId="liferay-sso-client"
openIdConnectClientSecret="dummy"
scopes="openid profile email"